@{
  Layout="Shared/_Layout.cshtml";
}
<div class="container">
  @* nav *@
  <div class="underline">
    <h2 class="nav"><a href="/">Word Counter</a></h2>
  </div>
  @* end nav *@
  <h4>I'll tell you how often a word appears in a sentence!!  I'm good at that.  <img class="icon" src="/Content/img/smiley.png" alt=""></h4>
  <div class="row spacing"></div>
  <div class="row">
    <form class="" action="/result" method="post">
      <div class="form-group">
        <label for="sentence">Enter a sentence</label>
        <input type="text" class= "form-control" name="given-string">
      </div>
      <div class="form-group">
        <label for="word">Enter your word</label>
        <input type="text" class= "form-control" name="given-word">
      </div>
      <button class="btn btn-success" type="submit" name="button">Count it!</button>
    </form>
  </div>
</div>
