/************* General Styles *************/
.spacing {
  height: 50px;
}

body {
  font-family: 'Questrial', sans-serif;
  font-size: 30px;
  color: #517281;
}

 a, a:visited {
  color: #517281;
  transition: .2s color;
}

h2 {
  font-family: 'Finger Paint', cursive;
  font-size: 60px;
  display: inline-block;
  padding-bottom: 10px;
  text-decoration: none;
  }
}

a:hover, a:active {
  text-decoration: none;
  color: #7895A2;
  cursor: pointer;
}

.icon {
  height: 40px;
}

/************* Home Page Styles *************/
form {
  padding-left: 15px;
  padding-right: 15px;
}



/************* Results Page Styles *************/
.highlight {
  color: #F68D5C;
}
.btn a{
  color: white;
  font-weight: 400;
}

.center {
  text-align: center;
}

.right {
  float: right;
  margin-top: 30px;
}

.underline {
  border-bottom: 1px #7895A2 solid;
}

/************* FooterStyles *************/
div#footer {
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    background: #F68D5C;
    padding:8px;

}

#footer li {
  color: slategrey;
  list-style: none;
  display: inline-block;
  padding-right: 12px;
  font-size: 15px;
}

#footer li a {
  color: white;
}

#footer li a:hover {
  color: #F4D27A;
}
