/************* General Styles *************/
.spacing {
  height: 50px;
}

body {
  font-family: 'Questrial', sans-serif;
  font-size: 30px;
}

h2 a {
  color: black;
}

h2 {
  border-bottom: 1px lightblue solid;
  font-family: 'Finger Paint', cursive;
  font-size: 60px;
}

a:hover {
  text-decoration: none;
  color: green;
}

/************* Home Page Styles *************/
form {
  padding-left: 15px;
  padding-right: 15px;
}

.icon {
  height: 40px;
}
